body{
	background: #e0dedb;
}
.menu, .portada {
	background-color: #FCCE09;
}
.portada{
	position: relative;
	width:100%;	
	height: 700px;
	margin: 0;
	top: -25px;
}
.titular{
	position: absolute;
	margin-left: 700px;
	margin-top: 350px;
	color: white;
	font-size: 60px;
}
.titular2{
	margin-top: 430px;
	font-size: 25px;
}
#sumate {
    background-color: #f48e00;
    border: none;
    color: white;
    padding: 15px 32px;
    position: relative;
    left: 45px;
    top: 40px;
 }

.boton_menu{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
li{
	display: inline-block;
	padding: 20px;
	list-style: none;
	margin-left: 250px;
}
.contenedor{
	margin-left: 250px;
}

.tarjeta {
  display: inline-block;
  height: 550px;
  width: 450px;
  padding: 50px;
  margin-left: 35px;
  margin-top: 35px;
  background-color: white;

}

.color {
  height: 300px;
  width: 300px;
  background-color: gray;
  position: relative;
  left: 22%;
}

p {
  text-align: justify;
}

.nely{
  background-color: #F20B0B;
}

.queen{
  background-color: #5994f2;
}
.silvia{
  background-color:#FFD300;
}
.josh{
  background-color: #0C7F14;
}
.grace{
  background-color:#C43D7C;
}
.gaby{
  background-color: purple;
}
.nanys{
  background-color: #7CFAE3;
}

footer{
	background-color: black;
	color: white;
	padding: 50px;
}