.menu {

}

.tarjeta {
  display: inline-block;
  height: 550px;
  width: 450px;
  padding: 50px;
  border: 2px solid gray;
  margin-left: 20px;
}

.color {
  height: 300px;
  width: 300px;
  background-color: gray;
  position: relative;
  left: 22%;
}

p {
  text-align: justify;
}
.nely{
  background-color: #F20B0B;
}

.queen{
  background-color:;
}
.silvia{
  background-color:;
}
.josh{
  background-color:;
}
.grace{
  background-color:;
}
.gaby{
  background-color:;
}
.nanys{
  background-color:;
}
